/*************************************************
IMPORT NORMALIZE
*************************************************/
@import url('http://necolas.github.io/normalize.css/3.0.2/normalize.css');

/* Base Styles
================================ */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  	/*font stack*/
  	font: 'Helvetica Neue', Helvectica, Arial, serif;
  	/*not as heavy as default*/
  	font-weight: 300;
  	font-size: 1em;
  	line-height: 1.5em;
  	/*almost black*/
  	color: #384047;
}

h1, h2, h3 {
	 /*not as bold as default*/
    font-weight: 500;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="url"],
textarea {
  	display: block;
  	font-size: 16px;
  	height: auto;
  	margin: 0;
  	outline: 0;
  	padding: 15px;
  	margin-bottom: 20px;
  	width: 100%;
}

fieldset {
	margin-bottom: 20px;
	/*max-width: 1100px;*/
}

legend {
	color: #6ab47b;
}

a {
  text-decoration: none;
  color: #6ab47b;
}

/* Layout Styles
================================ */

#admin-wrapper {
	max-width: 1100px;
  	margin: 50px auto;
  	padding: 0 20px;
}

/*loaded grid.css before my admin styles - kept separate for reuseability*/
/*this is a specific modifier for this project*/
.grid--air {
	margin-top: 20px;
}

/* Modual Styles
================================ */

#textarea-markdown {
    height: 400px;
    border: 1px solid #eee;
	padding: 10px;
	width: 100%;
}

.preview-area {
	/*background-color: pink;*/
	border: 1px solid #eee;
	padding: 10px;
	margin-bottom: 20px;
}

#rawHTML-output,
#JSON-output {
	font-size: .8em;
}

.btn {
  	padding: 9px 29px 8px 29px;
  	color: #FFF;
  	background-color: #4bc970;
  	text-align: center;
  	font-style: normal;
  	border-radius: 5px;
  	/*width: 100%;*/
  	width: 200px;
  	border: 1px solid #3ac162;
 	/* t lr b*/
  	border-width: 1px 1px 3px;
  	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  	margin-bottom: 10px;
}

.number {
  	background-color: #5fcf80;
  	color: #fff;
  	height: 20px;
  	width: 20px;
  	display: inline-block;
  	font-size: 0.8em;
  	margin-right: 4px;
  	line-height: 20px;
  	text-align: center;
  	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  	border-radius: 100%;
}

h1 {
  font-size: 1.8em;
  margin: 50px 0 20px;
}

/*set max-width to 50% so images aren't too big*/
img{
	max-width: 50%;
	padding: 20px;
	border: 1px solid rgba(30,30,30,0.1);
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.byline,
.more,
.hide {
	font-size: .85em;
	font-style: italic;
}

.pull-right {
	float: right;
	margin: 20px 0 20px 20px;
}

.pull-left {
	float: left;
	margin: 20px 20px 20px 0;
}

/* links */
/* a {
  color: #6ab47b;
}*/


/* State Styles
================================ */
.is-initial {
	color: #ddd;
	/*font-size: .8em;*/
}

/* Theme Styles
================================ */






















